.app {
    background-color: #B0C4DE;
    position: absolute;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

body {
    background-color: #B0C4DE !important;
}

.media {
    background-color: #697499;
    margin-top: 22px;
    margin: 0 auto;
    margin-top: 22px;
    width: 700px;
    display: flex;
    flex-direction: row
}

.col-sm .image {
    
    text-align: right;
}

.col-sm img {
    height: 100px;
    width: 100px;
}

.media-body>button {
    width: 100%;
    background-color: white;
    color: #21273D;
}

.media-body>h5 {
    text-align: center;
    color: white;
}

.media-body>p {
    text-align: center;
}

.nav-info > p , span {
    margin-right: 20px ;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 30px;
}

nav {
    background-color: #B0C4DE !important;
}

.search{
    margin:200px 40px 0 40px;
    font-family: Roboto;
    text-align: center; 
}